apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres-order
  namespace: ecommerce-dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres-order
  template:
    metadata:
      labels:
        app: postgres-order
    spec:
      containers:
      - name: postgres
        image: postgres:15
        env:
        - name: POSTGRES_USER
          value: "postgres"
        - name: POSTGRES_PASSWORD
          value: "postgres"
        - name: POSTGRES_DB
          value: "orderdb"
        ports:
        - containerPort: 5432
---
apiVersion: v1
kind: Service
metadata:
  name: postgres-order
  namespace: ecommerce-dev
spec:
  type: ClusterIP
  selector:
    app: postgres-order
  ports:
  - port: 5432
    targetPort: 5432