server:
  port: 8090

spring:
  application:
    name: order-management

  datasource:
    url: jdbc:postgresql://localhost:5432/ordermanagement
    username: "adii..."
    password:
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
        show_sql: true

  flyway:
    enabled: false  # DISABLE FLYWAY COMPLETELY FOR LOCAL DEVELOPMENT

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html